<!DOCTYPE html>
<html lang="en">

   <!--Head-->
   <%- include ("./partials/head")  %> 

   <body>

   <!--Header-->    
   <%- include ("./partials/header")  %>

   
    <main>
        <section>

            
        </section>

        
        <section class="productList">

            <h2>Administrador: Lista de productos</h2>

            <a href="/productos/administrador/crear">Crear nuevo producto</a>

            <% productos.forEach(element => { %>
             
                <article class="productList__product">
                    
                    <a href="/products/productDetail/<%= element.id %> ">
                        <img src="/img/<%= element.img  %>.jpg" alt="">
                    </a> 
                    <a href="/products/productDetail/<%= element.id %> ">
                        <h3><%= element.marca  %> </h3>
                        <p><%= element.modelo  %></p>
                    </a>
                   
                    <p><%= element.precio  %> </p>

                    <div>
                        <i class="fa-solid fa-trash-can"></i>
                        <br>
                        <i class="fa-solid fa-pen"></i>
                    </div>
                
                </article>

            <% }) %>
            
         
        </section>
    </main>
    
    <!--Footer-->
    <%- include ("./partials/footer")  %> 
    
</body>
</html>