<!DOCTYPE html>
<html lang="en">

   <!--Head-->
   <%- include ("./partials/head")  %> 

   <body>

   <!--Header-->    
   <%- include ("./partials/header")  %>

   
    <main>

        <section class="detail-main">
            <h2>Detalle de Producto:</h2>
            <article>
        
                <div>
                    <img src="/img/<%= producto.img %>.jpg " alt="">
                </div>
                <h3><%= producto.nombre %> </h3> 
                <p><%= producto.precio %> </p>
                <p><%= producto.detalle %> </p>
            </article>

        </section>

    </main>
    
    <!--Footer-->
    <%- include ("./partials/footer")  %> 
    
</body>
</html>